*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f5e75;
    font-size: 20px;
}

.container{
    text-align: center;
}

#block-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.square {
    margin: 15px;
    min-width: 80px;
    background-color: #3F87AE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:after {
    content: "";
    padding-top: 100%;
}

.divFizz {
    background-color: #62D3A4;
}

.divBuzz {
    background-color: #F8D377;
}

.fizzBuzz{
    background-color: #DE5471;
}